nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 60px;
    padding: 0 100px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px

} 
nav ul li a {
    text-decoration: none;
}