*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ffdeca;
}

h1{
  text-align: center;
  margin: 20px;
  color:#2c1203;
  text-transform: uppercase;
  text-decoration: underline;
}
.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

.card {
  display: Flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px auto;
  max-width: 300px;
  background: coral;
  border-radius: 2px;
  box-shadow: 3px 2px 3px silver;
  transition: all 0.3s ease-in-out;
}
.cardContent{
  height: 300px;
}

.bioWrap{
  color: whitesmoke;
  margin: 15px;
  text-align: justify;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 10px whitesmoke;
}

.textGroup {
  padding: 10px 0;
  text-align: center;
  color: white;
}

